﻿<div class="search-form-component">
    <form (ngSubmit)="findParcel();" #searchForm="ngForm">
        <div class="input-group">
            <input [(ngModel)]="trackNumber"
                   required type="search" class="form-control"
                   name="trackNumber" placeholder="Введите трек-номер посылки..."
                   autocomplete="off" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" [disabled]="searchForm.form.invalid">
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </span>
        </div>
    </form>

    <div class="alert alert-warning" *ngIf="errorMessage">
         {{errorMessage}}
    </div>
</div>


