﻿<spinner [isActive]="isSearchDoing" *ngIf="isSearchDoing"></spinner>
<div class="parcel-search-container container">   
    <parcel-search-form (searchDone) ="onSearchDone($event)" 
                        (searchDoing) ="onSearchDoing($event)"></parcel-search-form>
    <parcel-info [parcelInfo] ="foundParcel" *ngIf="foundParcel"></parcel-info>
    <parcel-route-map [parcelRoute]="foundParcel.route" *ngIf="foundParcel"></parcel-route-map>
</div>