﻿<a href="#collapseMap" (click)="isCollapsed=!isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseMap">
    <i class="fa fa-map-o" aria-hidden="true"></i> Посмотреть маршрут посылки на карте
</a>
<div [ngbCollapse]="isCollapsed" id="collapseMap">
    <div class="card">          
        <div class="card-block">
            <google-maps *ngIf="!isCollapsed"></google-maps>
        </div>            
    </div>
</div>
