﻿<div class="search-info-component">
    <form>
        <div class="form-group row">
            <label for="trackNumber" class="col-md-2 col-form-label bold-label">Трек-номер:</label>
            <div class="col-md-10">
                <input id="trackNumber" class="form-control" type="text" readonly value="{{parcelInfo.trackNumber}}" />                
            </div>
        </div>
        <div class="form-group row">
            <label for="state" class="col-md-2 col-form-label bold-label">Состояние:</label>
            <div class="col-md-10">
                <input id="state" class="form-control" type="text" readonly value="{{parcelInfo.state}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="pointSource" class="col-md-2 col-form-label bold-label">Пункт отправки:</label>
            <div class="col-md-10">
                <input id="pointSource" class="form-control" type="text" readonly value="{{parcelInfo.pointSource}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="pointDestination" class="col-md-2 col-form-label bold-label">Пункт назначения:</label>
            <div class="col-md-10">
                <input id="pointDestination" class="form-control" type="text" readonly value="{{parcelInfo.pointDestination}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="timeWay" class="col-md-2 col-form-label bold-label">Дней в пути:</label>
            <div class="col-md-10">
                <input id="timeWay" class="form-control" type="text" readonly value="{{parcelInfo.daysWay}}" />
            </div>
        </div>
    </form>
</div>